# Environment variables
.env
.env.*
!.env.example

# Hugging Face cache
.cache/

# Dataset (demasiado grande para git)
data/Data_Bald_People_Raw
data/FIFA
data/IBM_Transactions

# Python
__pycache__/
*.pyc
*.pyo

# Jupyter checkpoints
.ipynb_checkpoints/

# Mac
.DS_Store

# Lightning Studio
*.log
