# Environment variables
.env
.env.*

# Hugging Face cache
.cache/

# Dataset (demasiado grande para git)
data/

# Python
__pycache__/
*.pyc
*.pyo

# Jupyter checkpoints
.ipynb_checkpoints/

# Mac
.DS_Store

# Lightning Studio
*.log

# Raw Bald People Dataset
data/Data_Bald_People/Raw/